### Docker ###
.dockerignore
**/*.Dockerfile
**/docker-compose*.yml

### EditorConfig ###
.editorconfig

### ESLint ###
.eslintignore
.eslintrc

### Git ###
.github/
commitlint.config.js
.gitattributes
.gitignore
lint-staged.config.js

### Husky ###
.husky/

### Markdown ###
*.md
!CHANGELOG.md
!LICENSE
!README.md

### Next.js ###
**/.next/

### Node.js ###
.pnpm-store/
**/node_modules/
npm-debug.log

### Prettier ###
.prettierignore
.prettierignore_staged
.prettierrc.json

### Release Please ###
.release-please-manifest.json
release-please-config.json

### Visual Studio Code ###
.devcontainer/
.vscode/
