{
    "root": true,
    "parser": "@babel/eslint-parser",
    "parserOptions": {
        "babelOptions": {
            "caller": {
                // Eslint supports top level await when a parser for it is included. We enable the parser by default for Babel.
                "supportsTopLevelAwait": true
            },
            "presets": ["@babel/preset-react"]
        },
        "ecmaFeatures": {
            "jsx": true
        },
        "requireConfigFile": false,
        "sourceType": "module"
    },
    "settings": {
        "react": {
            "version": "detect"
        }
    },

    "plugins": ["react", "react-hooks", "import", "jsx-a11y", "cypress"],
    "env": {
        "browser": true,
        "commonjs": true,
        "es6": true,
        "node": true
    },
    "extends": ["eslint:recommended", "prettier", "plugin:jsx-a11y/recommended"],
    "overrides": [
        {
            "files": [
                "test/**/*.js",
                "test/**/*.jsx",
                "test/**/*.ts",
                "test/**/*.tsx",
                "**/*.cy.js",
                "**/*.cy.jsx",
                "**/*.cy.ts",
                "**/*.cy.tsx",
                "**/*.spec.js",
                "**/*.spec.jsx",
                "**/*.spec.ts",
                "**/*.spec.tsx"
            ],
            "extends": [
                "plugin:cypress/recommended",
                "plugin:chai-friendly/recommended"
            ],
            "rules": {}
        },
        {
            "files": ["**/*.ts", "**/*.tsx"],
            "parser": "@typescript-eslint/parser",
            "parserOptions": {
                "ecmaVersion": 2018,
                "sourceType": "module",
                "ecmaFeatures": {
                    "jsx": true
                },
                "warnOnUnsupportedTypeScriptVersion": false
            },
            "plugins": ["@typescript-eslint"],
            "rules": {
                // Already handled by TS
                "no-dupe-class-members": "off",
                "no-undef": "off",

                // Add TypeScript specific rules (and turn off ESLint equivalents)
                "@typescript-eslint/consistent-type-assertions": "warn",
                "no-array-constructor": "off",
                "@typescript-eslint/no-array-constructor": "warn",
                "@typescript-eslint/no-namespace": "error",
                "no-use-before-define": "off",
                "@typescript-eslint/no-use-before-define": [
                    "warn",
                    {
                        "functions": false,
                        "classes": false,
                        "variables": false,
                        "typedefs": false
                    }
                ],
                "no-unused-vars": "off",
                "@typescript-eslint/no-unused-vars": [
                    "warn",
                    {
                        "args": "none",
                        "ignoreRestSiblings": true
                    }
                ],
                "no-unused-expressions": "off",
                "@typescript-eslint/no-unused-expressions": [
                    "error",
                    {
                        "allowShortCircuit": true,
                        "allowTernary": true,
                        "allowTaggedTemplates": true
                    }
                ],
                "no-useless-constructor": "off",
                "@typescript-eslint/no-useless-constructor": "warn"
            }
        },
        {
            "files": ["apps/**", "packages/**"],
            "rules": {
                "no-shadow": ["warn", { "builtinGlobals": false }],
                "import/no-extraneous-dependencies": [
                    "error",
                    { "devDependencies": false }
                ]
            }
        },
        {
            "files": ["apps/**/*.ts", "apps/**/*.tsx", "packages/**/*.ts", "packages/**/*.tsx"],
            "rules": {
                "@typescript-eslint/no-unused-vars": [
                    "warn",
                    {
                        "args": "all",
                        "argsIgnorePattern": "^_",
                        "ignoreRestSiblings": true
                    }
                ]
            }
        }
    ],

    "rules": {
        // Possible Problems
        "no-duplicate-imports": "error",
        // Suggestions
        "default-case-last": "error",
        "default-param-last": "warn",
        "no-console": "error",
        // Layout & Formatting
        "array-bracket-spacing": "warn",
        "arrow-parens": "warn",
        "arrow-spacing": "warn",
        "comma-dangle": [
            "error",
            {
                "arrays": "always-multiline",
                "objects": "always-multiline",
                "imports": "never",
                "exports": "never",
                "functions": "never"
            }
        ],
        "eol-last": ["error", "always"],
        "indent": ["error", 4],
        "linebreak-style": ["error", "unix"],
        "quotes": [
            "warn",
            "double",
            { "allowTemplateLiterals": true, "avoidEscape": true }
        ],
        "template-curly-spacing": ["warn", "never"],
        // React.js rules
        "react/forbid-foreign-prop-types": [
            "warn",
            { "allowInPropTypes": true }
        ],
        "react/jsx-no-comment-textnodes": "warn",
        "react/jsx-no-duplicate-props": "warn",
        "react/jsx-no-target-blank": "warn",
        "react/jsx-no-undef": "error",
        "react/jsx-pascal-case": [
            "warn",
            {
                "allowAllCaps": true,
                "ignore": []
            }
        ],
        "react/jsx-uses-react": "warn",
        "react/jsx-uses-vars": "warn",
        "react/no-danger-with-children": "warn",
        "react/no-deprecated": "warn",
        "react/no-direct-mutation-state": "warn",
        "react/no-is-mounted": "warn",
        "react/no-typos": "error",
        "react/react-in-jsx-scope": "off",
        "react/require-render-return": "error",
        "react/style-prop-object": "warn",
        // react-hooks rules
        "react-hooks/rules-of-hooks": "error"
    }
}
